
<div *ngFor="let player of players">
    <h4>{{player.playerNumber + " -- " + player.name}}</h4>
    <button [disabled]="player != currentPlayer || diceNum > 0 || isWinner" (click)="rollDice()" id="dice">Roll Dice</button>
    <p>{{"Updated Position --> " + player.updatedPosition}}</p>
</div>
<h1 *ngIf="diceNumber">{{ "Dice: " + diceNumber }}</h1>

<h3 *ngIf="isWinner">{{"Winner --> "+winner.playerNumber + " -- " + winner.name}}</h3>
<button [disabled]="!newGame" (click)="startNewGame()" id="sng">Start New Game</button>
