#board{
  background-repeat: round;
}

table, td, tr{
  border: 1px solid black;
  text-align: center;
  background-color: lightyellow;
  position: relative;
}

td{
  padding: 25px;
}

.snake{
  color: red;
}

.ladder{
  color: green;
}

.blue{
  background: url("/../assets/blue.png") top left no-repeat;
  background-size: 20px;
}

.red{
  background: url("/../assets/red.png") top right no-repeat;
  background-size: 17px;
}

.green{
  background: url("/../assets/green.png") bottom left no-repeat ;
  background-size: 20px;
}

.purple{
  background: url("/../assets/purple.png") bottom right no-repeat;
  background-size: 20px;
}